@model IEnumerable<App.Areas.HSHocSinh.Models.LopHoc>

@{
    ViewData["Title"] = "Danh Sách Lớp Học";
}

<partial name="_StatusMessage" />
<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
</p>
<div class="d-flex pb-2">
    <partial name="_SearchForm" model="@ViewBag.searchModel"/>
    <p>Tổng số lớp học: @ViewBag.totalLopHoc</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuNghiem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++ViewBag.lopHocIndex)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuNghiem.Gender)
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingXTL" model="@ViewBag.pagingModel" />
@{
    _AdminSidebarService.SetActive("LopHoc", "Index", "HSHocSinh");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}