@model IEnumerable<App.Models.AppUser>

@{
    ViewData["Title"] = "Danh Sách Sinh Viên";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.UserName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingXTL" model="@ViewBag.pagingModel" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    _AdminSidebarService.SetActive("HocSinh", "Index", "HoSoHS");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}