@model App.Areas.HoSoHS.Models.HoSoHS

@{
    ViewData["Title"] = "Xem Chi Tiết Hồ Sơ";
}


<partial name="_StatusMessage" />

<div>
    <h4>HoSoHS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopHoc.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocSinh.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemTongKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemTongKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@{
    _AdminSidebarService.SetActive("HoSoHS", "Index", "HoSoHS");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}
