@model App.Areas.HSHocSinh.Models.ChuNghiem

@{
    ViewData["Title"] = "Chỉ Tiết Giáo Viên";
}
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            Lớp Chủ Nghiệm
        </dt>
        <dd class = "col-sm-10">
            @foreach (var LopHoc in Model.LopHocs) {
                <a class="col-sm-5" asp-controller="LopHoc" asp-action="Details" asp-route-id="@LopHoc.Id">@LopHoc.name</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-sm btn-info" asp-action="Index">Back to List</a>
</div>

@{
    _AdminSidebarService.SetActive("ChuNghiem", "Index", "HSHocSinh");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}