@model App.Areas.HSHocSinh.Models.HocSinh

@{
    ViewData["Title"] = "Thông Tin Học Sinh";
}

<partial name="_StatusMessage" />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="LopHoc" asp-action="Details" asp-route-id="@Model?.LopHoc.Id">
                @Html.DisplayFor(model => model.LopHoc.name)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


@{
    _AdminSidebarService.SetActive("HocSinh", "Index", "HSHocSinh");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}