@model App.Areas.HoSoHS.Models.LopHoc

@{
    ViewData["Title"] = "Chi Tiết Lớp";
}

<partial name="_StatusMessage" />
<div>
    <h4>LopHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Sĩ Số
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocSinhCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">Sinh Viên</dt>
        <table class="table fixed-size">
            <thead>
                <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var HocSinhs in Model.HoSoHS) {
                    <tr>
                        <td>
                            <a class="col-sm-5" asp-controller="HocSinh" asp-action="Details" asp-route-id="@HocSinhs.HocSinh.Id">@HocSinhs.HocSinh.UserName</a>
                        </td>
                        <td>@HocSinhs.HocSinh.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@{
    _AdminSidebarService.SetActive("LopHoc", "Index", "HoSoHS");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}
